body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 176, 73);
}
.section {
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.container {
    border-radius: 5px;
    background-color: rgb(255, 212, 155);
    padding: 5px;
    margin: 5px;
    width: 30%;
    min-width: 200px;
    max-width: 400px;
}
.container img {
    max-width: 100%;
    border-radius: 5px;
}

